.card-body{
   
}
.Image-upper{
}
 
.Image-upper>img{
    border-radius: 10px;
    width: 100%;
}
.Lower-details{
    
}
.car-title{
   
}
.car-title>p{
  
}
.car-name{
  
}
.model-year{
   
}
.buttons{
   
}
.price{
    
}
.detail-button{
    
}
.price-box{
  
}
.price{
  
}
.price>p{
    
}
.others-button{
 
}
.buy-button{
    
}
.like-button{
  
}
hr{
    color: #e5e4e4;
    width: 95%;
    margin-top: 12px;
    margin-bottom: 0%;
}

.cont{
   
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 