*{
  box-sizing: border-box;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

hr{
  color: #e5e4e4;
  width: 95%;
  margin-top: 12px;
  margin-bottom: 0%;
}
